nav {
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s;
  width: 100%;
}

nav.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

.navbar {
  position: fixed;
  z-index: 500;
  padding: 20px 20px;
  background-color: #F6F8FA;
  transition: ease-in-out 0.3s;
  width: 100%;
}

.navbar-toggler {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1100;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navbar-toggler span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler .fa-bars {
  color: var(--gray);
  font-size: var(--size-20);
  pointer-events: none;
}

.navbar-toggler.active+.navbar-nav {
  display: flex;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  position: static;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.navbar-nav li {
  margin: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  flex-wrap: nowrap;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
}

.nav-link a {
  color: var(--font-color-dark);
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  margin-right: 2.5rem;
  line-height: 1.25rem;
  white-space: nowrap;
  display: inline-block;
}

.nav-link a:hover {
  color: var(--default-btn);
}

@keyframes jump {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-20px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-header {
  background-image: url("/assets/bg/background-top.svg");
  padding: var(--size-150) 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 30px;
}

.heroCard1,
.heroCard2 {
  width: 100%;
}

.heroLogos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 100%;
}

.heroLogos .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: jump 0.6s ease-in forwards;
  animation-delay: calc(0.1s * var(--i));
}

.heroLogos img {
  max-width: 40%;
  height: auto;
  border-radius: 40%;
}

.heroLogos .logos:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  width: 75px;
}

.heroLogos .logos:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.heroLogos .logos:nth-child(3) {
  grid-column: 4;
  grid-row: 1;
}

.heroLogos .logos:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

.heroLogos .logos:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

.heroLogos .logos:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
  width: 75px;
}

.heroLogos .logos:nth-child(7) {
  grid-column: 4;
  grid-row: 3;
}

.heroBtns {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.card {
  background-color: var(--white);
  padding: var(--size-20);
  margin: 0;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.card img {
  width: 55px;
}

.why-front-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--size-50);
}

.why-front-bg .container {
  display: flex;
  flex-direction: column;
  gap: var(--size-30);
}

.why-front-bg .block-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center !important;
}

.why-front-bg .block-text .front-header h3,
.why-front-bg .block-text .front-header p {
  margin: auto;
  text-align: center;
}

.frontTable {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--size-10);
  width: 100%;
}

.front-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-10);
  text-align: center;
  min-height: 100px;
  height: 100%;
}

.front-card:nth-child(odd) {
  grid-column: span 1;
}

.front-card i {
  font-size: 24px;
  margin-bottom: var(--size-10);
  color: #ccc;
}

.front-card p {
  text-align: center;
  white-space: nowrap;
  overflow: visible;
  width: 100%;
  color: var(--black);
  font-weight: bold;
}

.front-divider:nth-child(even) {
  border: 0;
  border-top: 2px solid #ccc;
  margin-top: -45px;
  grid-column: span 1;
  align-self: center;
  width: 100%;
}

.pricing {
  display: block;
  padding: var(--size-20) 0;
}

.pricing .block-text {
  text-align: center;
  margin: var(--size-50) 0;
  width: 100%;
}

.pricing .block-text h3,
.pricing .block-text p {
  margin: auto;
}

.pricing .pricingTable {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: var(--size-10);
  width: 100%;
  justify-items: center;
  align-items: start;
}

.pricing .featuredCard {
  grid-column: 1;
  grid-row: span 2;
  background-color: var(--highlight-bg);
  padding: var(--size-20);
  text-align: left;
  border-radius: var(--size-20);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featuredCard:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pricing .featuredCard span {
  color: var(--gray);
  font-size: large;
}

.pricing .featuredCard p {
  margin: 30px 0;
}

.pricing .featuredCard .pricingFooter {
  font-size: small;
  margin: 10px 0;
}

.pricing .card {
  background-color: var(--card-bg);
  padding: var(--size-5);
  text-align: left;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 80%;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pricing .card img {
  width: 40px;
}

.pricing .card h4 {
  margin: auto;
}

.pricing .btn-blue {
  margin-top: var(--size-20);
}

.hireUs {
  background-color: var(--dark-blue);
  color: var(--white);
}

.hireUs .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: start;
}

.hireUsTxt {
  grid-column: 1;
  grid-row: 1;
  margin: 120px 0;
}

.hireUsTxt hr {
  width: 170px;
  margin-left: 0;
  align-self: flex-start;
}

.hireUsName {
  grid-column: 1;
  grid-row: 2;
}

.hireUsTxt h3 {
  margin-bottom: var(--size-10);
}

.hireUsTxt h4.hireName {
  color: var(--white);
  margin-bottom: var(--size-10);
}

.hireUsTxt p.hireTitle {
  margin-top: -10px;
}

.contactForm p {
  margin-left: 0;
  text-align: left;
  color: var(--black);
  font-weight: 700;
}

.hireUsName .hireName,
.hireBright {
  color: var(--white);
}

.profileImgs {
  display: flex;
  gap: var(--size-10);
  margin: 30px 0;
}

.profileImgs img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: var(--size-10);
  align-items: center;
}

.profileImgs img.hireUsFeatured {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -10px;
}

.nameGroup {
  display: flex;
  gap: var(--size-15);
  margin: 20px 0;
}

.selector {
  display: flex;
  gap: var(--size-15);
}

.contactForm {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--white);
  padding: var(--size-50);
  grid-column: 2;
  grid-row: 1 / 2;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-10);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
}

.contactForm form {
  width: 100%;
  max-width: 600px;
}

.contactForm .nameGroup input,
.contactForm .selector select,
.contactForm .txtBox textarea {
  border-radius: var(--size-5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
}

.contactForm .nameGroup input,
.contactForm .selector select {
  width: 100%;
  padding: var(--size-10);
  font-weight: bold;
  font-size: small;
  border-radius: var(--size-5);
  border: 1px solid rgba(128, 128, 128, 0.2);
  background-color: var(--white);
  height: 50px;
  box-sizing: border-box;
}

.contactForm .txtBox {
  margin-top: var(--size-20);
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: var(--dark-blue);
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

.txtBox textarea {
  resize: none;
}

.formFooter {
  margin-top: var(--size-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: var(--size-10);
}

.checkbox-container input[type="checkbox"] {
  margin-top: var(--size-5);
}

.checkbox-container label {
  font-size: medium;
  color: var(--gray);
  display: flex;
  flex-direction: column;
}

.checkbox-container .privacyPolicy {
  text-align: center;
  margin: 20px 0;
}

.getStarted {
  margin-top: var(--size-20);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.companyInfo {
  padding: var(--size-50) 0;
  background-color: var(--light-gray);
}

.companyInfo .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--size-30);
  justify-items: center;
  align-items: start;
}

.companyCard {
  background-color: var(--white);
  padding: var(--size-20);
  text-align: left;
}

.companyCard:first-child {
  grid-column: span 2;
  margin-left: -50px;
}

.companyCard h4 {
  margin-bottom: var(--size-30);
  margin-top: 0;
  font-size: var(--font-size-large);
  color: var(--dark-blue);
}

.companyCard ul {
  list-style-type: none;
  padding-left: 0;
}

.companyCard ul li {
  margin-bottom: var(--size-10);
}

.companyCard ul li a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
}

.companyCard ul li a:hover {
  text-decoration: underline;
}

.companyCard img {
  width: 100px;
  height: auto;
  margin-bottom: var(--size-20);
}

.companyCard p {
  font-size: var(--font-size-medium);
  color: var(--gray-dark);
  margin-bottom: var(--size-15);
}

.companyCard i {
  margin-right: var(--size-10);
  color: var(--primary-color);
}

.country-select {
  width: 180px;
  padding: 10px;
  font-size: 1rem;
}

.country-select option {
  padding: 8px;
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 25px;
}

.usa {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg");
}

.canada {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg");
}

.uk {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg");
}

.australia {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/b/b9/Flag_of_Australia.svg");
}

.germany {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg");
}